img {
  object-fit: cover;
}

.dtb-popover-close {
  display: none !important;
}

.td-image {
  text-align: center !important;
}

.td-image .avatar {
  object-fit: cover !important;
  cursor: pointer !important;
}

.td-image .avatar:hover {
  filter: brightness(0.9) !important;
}

/* The Modal (background) */
.div-modal {
  object-fit: cover;
  z-index: 1100 !important;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content (Image) */
.modal-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 65vh;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modal-img-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 100vw;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-img,
.modal-img-caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* The Close Button */
.modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-img {
    width: 100%;
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.swal2-container {
  z-index: 1101;
}

.autocomplete-suggestions {
  text-align: left;
  border: 1px solid #999;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #fff;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 5px 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.autocomplete-img {
  width: 40px;
  height: 40px;
}
