<IfModule mod_rewrite.c>

  Header set Access-Control-Allow-Origin "*"
  
  Options -Indexes 

  RewriteEngine on
  RewriteCond %{HTTPS} off 

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.php -f
  RewriteRule ^(.*)$ $1.php [NC,L] 
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^(.*)$ $1.html [NC,L]
</IfModule>